/*开始游戏按钮*/
.start{
    position: absolute;
    margin: 0 auto;
    width: 200px;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    border-radius: 24px;
    background-color: #d1462f
}

/*准备游戏页面*/
.prepareGame{
    position: absolute;
    margin: 0 auto;
    font-size: 36px;
    color: #d1462f;
    border: 1px solid;
    display: none;
}

/*游戏主界面*/
.containAll{
    margin: 20px;
    display: none;
}
/*标题显示第几天*/
.dayNum{
    border: 1px solid;
    width: 60%;
    height: 100px;
    font-size: 36px;
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
}
/*倒计时*/
.gameTime{
    float: right;
    margin-top: -60px;
    margin-right: 89px;
    color: #f00;
}
.gameTime span{
    padding: 10px;
}
/*中间部分*/
.container{
    margin-top: 20px;
    height: 500px;
}
/*左右两边用户头像*/
.userLogo{
    width: 40px;
    line-height: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 3px;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}
.leftLogo{
    float: left;
    width: 50px;
    margin: 10px;
}
.rightLogo{
    float: right;
    width: 50px;
    margin-top: 10px;
}
/*中间的用户视频*/
.userVideo{
    width: 70%;
    height: 70%;
    border: 1px solid black;
    margin: 0 auto;
}
/*下发发送信息部分*/
.content{
    width: 90%;
    margin: 0 auto;
    height: 26%;
    margin-top: 15px;
}
/*玩家列表*/
.userList{
    width: 20%;
    height: 95%;
    border: 1px solid;
    float: left;
    margin: 2px;
}
/*玩家发言历史信息*/
.historyText{
    width: 60%;
    height: 95%;
    margin-top: 2px;
    margin-left: 22%;
    position: relative;
}
/*用户信息识别展示*/
.userIdentify{
    width: 16%;
    height: 124px;
    margin-top: -124px;
    float: right;
    border: 1px solid;
    margin-right: 2px;
    text-align: center;
    vertical-align: middle;
    line-height: 124px;
    font-weight: bolder;
    font-size: 34px;
}

/*我的位置信息*/
.mySeatImg{
    border:2px solid #f00;
}

/*用户发送信息*/
.sendNews{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: 1px solid;
}
/*用户交流信息展示列表*/
.newsHistory{
    width: 100%;
    height: 70%;
}
/*发送的文本*/
.inputNews{
    height: 33px;
    width: 88.74%;
}
/*发送按钮*/
button{
    height: 37px;
    width: 44px;
    margin-left: -1px;
}

/*底部我的信息*/
.designerNews{
    text-align: center;
    color: #9E9E9E;
}

/*操作提示信息*/
.messageDIV{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 110%;
    background-color: rgba(158, 158, 158, 0.4);
    display: none;
    margin-top: -681px;
    text-align: center;
    font-size: 24px;
    color: #F44336;
    padding-top: 25%;
    font-weight: bold;
}
.message{
    position: absolute;
    height: 1.5em;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
    left: 50%;
    top: 50%;
    width: 300px;
    margin-left: -150px;
    margin-top: -0.75em;
}
.death{
    color: #f00;
    font-size: 50px;
}